<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933505670343-c3nhkrev5t1jf8t37h7mnr8v2amkejto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933505670343-c3nhkrev5t1jf8t37h7mnr8v2amkejto</string>
	<key>API_KEY</key>
	<string>AIzaSyAgUlmdzWKuSD3UFKQNaK4P2ZqkQWc4j6M</string>
	<key>GCM_SENDER_ID</key>
	<string>933505670343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eth.rakshitarora.mynotes</string>
	<key>PROJECT_ID</key>
	<string>rkade-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>rkade-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933505670343:ios:f06f578d011de3505232e2</string>
</dict>
</plist>